doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Gulp
    link(rel='stylesheet', href='./css/main.min.css')
  body
    include views/home.pug
    include views/about.pug
    include views/works.pug
    include views/contact.pug
    .big-box
    script(src='./scripts/main.min.js')